html, body {
	overflow: hidden;
}

img.peeking-catgirl {
	bottom: 0;
	position: absolute;
	right: 20px;
	width: 200px;
}

@media only screen and (max-width:500px) {
	img.peeking-catgirl {
		width: 120px;
	}
}

div.nya span {
	position: absolute;
}
div.nya span:before {
	content: "nya";
}
